html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*GLOBAL*/

.container{
	max-width: 1200px;
	padding: 0 14px;
	margin: 0 auto;
}

.visually-hidden {
	visibility: hidden;
}

/*h2 {
	position: relative;
	font-size: 36px;
	font-weight: normal;
	margin-left: 60px;
}*/


li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #a9a9a9;
	transition: 1s;
}

a:hover {
	color: #000;
}

/*HEADER*/

.main-header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 65px;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 660px;
	margin-right: 160px;
}

/*MAIN*/

.header {
	position: relative;
	min-height: 500px;
	margin-top: -50px;
}

.header img {
	width: 100%;
	max-width: 820px;
	height: auto;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -5;
}

.header a {
	display: inline-block;
	margin-top: 30px;
	margin-left: 100px;
	padding: 10px 20px;
	background: #e0c78c;
	color: #000; 
}


p.sales {
	margin-top: 75px;
	margin-left: 100px;
}

p.sales span:nth-child(1) {
	position: relative;
	font-size: 96px;
	font-weight: bold;
	color: #e0c78c;
}

p.sales span:nth-child(1)::before {
	position: absolute;
	content: "";
	width: 40px;
	height: 4px;
	background: #e0c78c;
	top: 46px;
	left: -46px;
}

p.sales span:nth-child(3) {
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	max-width: 230px;  
}

/*NEW*/

.new {
	margin-top: 100px;
}

.new h2 {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	color: #e0c78b;
}

.new p {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
}

.new-list {
	display: flex;
	justify-content: space-between;
}

.new-item,
.new-item article {
	display: flex;
	flex-direction: column;
}

.new-item h3,
.new-item p,
.new-item a,
.new-item button {
	width: 100%;
	max-width: 160px;
	margin: 0 auto;
	text-align: left;
}

.new-item h3 {
	flex: 1;
	order: 2;
	
}

.new-item img {
	order: 1;
}

.new-item p {
	order: 3;
	line-height: 30px;
}

.new-item a {
	color: #000;
	font-weight: bold;
}

.new-item button {
	border: none;
	background: transparent;
	color: #e0c78b;
	padding: 0;
	font-size: 16px;
	cursor: pointer;
	line-height: 30px;
	font-weight: bold;
}

section.new > ul > li:nth-child(3) > article > h3,
section.new > ul > li:nth-child(3) > article > p {
	display: none;
}
